# MongoDB
MONGODB_URI = Paste your mongodb uri

# Port
PORT = Paste your port

# Jwt secret key
SECRET = Paste your jwt secrey key

# Node environment
NODE_ENV = development

# Log
LOG_LEVEL = silly

#MongoDB testing
MONGODB_URI_TESTING = Paste your mongodb uri for testing